/* styles.css */
body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(155, 44, 44);
    font-family: 'Press Start 2P', Courier, monospace;
}

.matrix-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#matrix-canvas #matrix-canvas-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.matrix-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lime;
    font-size: 3em;
    text-align: center;
    opacity: 0;
    animation: fadeIn 5s forwards 8s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}